/* styles.css */
body {
    background-color: #fafafa;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #fff;
    border: 1px solid #dbdbdb;
    padding: 40px;
    width: 350px;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.login-container h1 {
    font-family: 'Billabong', cursive;
    font-size: 48px;
    margin-bottom: 20px;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    background-color: #fafafa;
}

.login-container button {
    background-color: #0095f6;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #007bb5;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #dbdbdb;
}

.separator:not(:empty)::before {
    margin-right: .25em;
}

.separator:not(:empty)::after {
    margin-left: .25em;
}

.facebook-login {
    background-color: #4267b2;
    margin-top: 10px;
}

.forgot-password {
    color: #00376b;
    text-decoration: none;
    margin-top: 20px;
}

.forgot-password:hover {
    text-decoration: underline;
}